* {
  margin: 0;
  padding: 0;
  justify-content: center;
  box-sizing: border-box;
  }
  
  html {}
  
  body {
  width: 1600px;
  }
  
  main {
  display: inline-block;
  }
  
  header{
  width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .menu{
      padding-right: 20px;
  }
  
  nav{
      width: 75em;
  }
  
  ul{
      display: flex;
  }
  
  ul li{
      display: flex;
      font-weight: bold;
      margin-right: 30px;
  }
     
  .first_images {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 200px 200px 200px 200px 200px 200px;
  }
  
  .first_images div:hover{
      border: 3px solid #333;
  }
  
  .second_btn {
      text-align: center;
      padding: 20px;
  }
  
  
  .third_images {
      display: flex;
  }
  
  .third_images div {
      display: flex;
  }
  
  .bottom{
      display: flex;
  }
